/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/cache/data/*
/storage/views/*.php
/storage/logs/*.log
/storage-volume
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
mysql
*.tgz
**/*.sqlite