image: registry.gitlab.com/wecould/app_72h_web

services:
  - mysql:5.7

# Cache libraries in between jobs
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - vendor/
    - node_modules/

variables:
  MYSQL_DATABASE: homestead
  MYSQL_ROOT_PASSWORD: secret
  DB_HOST: mysql
  DB_USERNAME: root

stages:
  - test

php_test:
  stage: test
  before_script:
    - cp .env.example .env
    - composer install
    - php artisan key:generate
    - php artisan config:cache
    - php artisan migrate
  script:
    - php artisan db:seed
    - echo PHPUNIT TEST
    - vendor/bin/phpunit --configuration phpunit_gitlab.xml --coverage-text --colors=never

npm_test:
  stage: test
  before_script:
    - echo NPM INSTALL
    - npm i
  script:
    - echo NPM RUN DEV
    - npm run dev
